<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Document</title>
</head>

<body>
  <div class="top">
    <div class="logoContainer">
      <img src="./images/generaliLogo.png" alt="">
    </div>
    <div class="title">
      <h1 class="title">La Caja de Ahorro y Seguro</h1>
    </div>
    <div class="logoContainer">
      <img src="./images/laCaja.jpeg" alt="">
    </div>
  </div>
  <div class="boxTop">
    <div class="directorioContainer">
      <div class="directorio">
        <p>DIRECTORIO</p>
      </div>
    </div>
    <div class="directorio-1Container">
      <div class="boxDirecciones left">
        <h4>Gremio</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>
      </div>
      <div class="line"></div>
      <div class="boxDirecciones">
        <h4>Auditoria Interna</h4>
        <p>Higher-position-name</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>XX</p>
        </div>
      </div>
    </div>
    <div class="ceoContainer">
      <div class="ceo">
        <h4>Gerencia General</h4>
        <p>CEO</p>
        <p>Person´s name</p>
        <div class="bottom">
          <p>Dotacion</p>
          <p>
            XX
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="ceo-1">
    <div class="ceo-1Container">

      <div class="colum-a">
<!--Minima unidad fija para mantener la estructura de las lineas conectoras-->
        <div class="container-a">
          <div class="line-a"></div>
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>
        <!--Pseudo elementos de lineas conectoras con la unidad fija dentro del EJS-->
        <!--Solo en A y en C para que B y D tengan menos elementos y sea suficiente la linea de "line-aa" -->
        
        <!-- <div class="container-a">
          <div class="line-aa"></div>
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>
 -->
        <% contacts.forEach(e => { %>
                
          <div class="container-a">
            <div class="line-aa"></div>
              <h4><%= e.direccion %> </h4>
              <p><%= e.puesto %> </p>
              <p><%= e.apellido_nombre %> </p>
              <div class="bottom">
                  <p>Dotacion</p>
                  <p>XX </p>
              </div>
          </div>
          <% }) %>
        

      </div>
      <div class="colum-b">

        <div class="container-b">
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>
        <div class="container-b">
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>


      </div>
      <div class="colum-c">
        <div class="line-a"></div>

        <div class="container-c">
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>
                <!--Pseudo elementos de lineas conectoras con la unidad fija dentro del EJS-->

                <% contacts.forEach(e => { %>
                
                  <div class="container-a">
                    <div class="line-aa"></div>
                      <h4><%= e.direccion %> </h4>
                      <p><%= e.puesto %> </p>
                      <p><%= e.apellido_nombre %> </p>
                      <div class="bottom">
                          <p>Dotacion</p>
                          <p>XX </p>
                      </div>
                  </div>
                  <% }) %>

      </div>
      <div class="colum-d">
        <div class="container-d">
          <h4>Title</h4>
          <p> Name</p>
          <p>Data</p>
        </div>
        
      </div>
    </div>
  </div>
  <script src="../src/scripts.js"></script>
</body>

</html>